codigo/flowsp4_Delly.json
[
    {
        "id": "10861fe76fe2b159",
        "type": "mqtt in",
        "z": "6ae18db46eff17d3",
        "name": "",
        "topic": "casa/sensores/temperatura1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 680,
        "wires": [
            [
                "5bb705e8358a05a4",
                "2f379a7e87f80fab",
                "b4cb14e7ddae414b"
            ]
        ]
    },
    {
        "id": "5bb705e8358a05a4",
        "type": "ui_gauge",
        "z": "6ae18db46eff17d3",
        "name": "",
        "group": "b470bc0dac966f99",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 620,
        "wires": []
    },
    {
        "id": "2f379a7e87f80fab",
        "type": "ui_chart",
        "z": "6ae18db46eff17d3",
        "name": "",
        "group": "b470bc0dac966f99",
        "order": 9,
        "width": 0,
        "height": 0,
        "label": "Gráfico Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 480,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "b4cb14e7ddae414b",
        "type": "debug",
        "z": "6ae18db46eff17d3",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 740,
        "wires": []
    },
    {
        "id": "10316362c7aacded",
        "type": "mqtt in",
        "z": "6ae18db46eff17d3",
        "name": "",
        "topic": "casa/sensores/humidade1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 840,
        "wires": [
            [
                "f1b8fe00589c8fea",
                "bb36526ae141b349"
            ]
        ]
    },
    {
        "id": "f1b8fe00589c8fea",
        "type": "ui_gauge",
        "z": "6ae18db46eff17d3",
        "name": "",
        "group": "b470bc0dac966f99",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Humidade",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 800,
        "wires": []
    },
    {
        "id": "bb36526ae141b349",
        "type": "debug",
        "z": "6ae18db46eff17d3",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 860,
        "wires": []
    },
    {
        "id": "df23c8a654d9d30c",
        "type": "mqtt in",
        "z": "6ae18db46eff17d3",
        "name": "",
        "topic": "depuracion1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 630,
        "y": 740,
        "wires": [
            [
                "0aa9953a48714ee0"
            ]
        ]
    },
    {
        "id": "0aa9953a48714ee0",
        "type": "debug",
        "z": "6ae18db46eff17d3",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 740,
        "wires": []
    },
    {
        "id": "371aa7df32f04522",
        "type": "mqtt in",
        "z": "6ae18db46eff17d3",
        "name": "",
        "topic": "casa/sensores/temperatura1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43c6d6fc24ad7b6d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 960,
        "wires": [
            [
                "8a5f4935ea809b91"
            ]
        ]
    },
    {
        "id": "8a5f4935ea809b91",
        "type": "switch",
        "z": "6ae18db46eff17d3",
        "name": "PasoTempTrue_False",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "21",
                "vt": "num"
            },
            {
                "t": "lt",
                "v": "21",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 460,
        "y": 960,
        "wires": [
            [
                "11e073e19d069105"
            ],
            [
                "9496bca0cdae91ae"
            ]
        ]
    },
    {
        "id": "11e073e19d069105",
        "type": "change",
        "z": "6ae18db46eff17d3",
        "name": "Cambio a True",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 900,
        "wires": [
            [
                "7128c12e8f1cebb3"
            ]
        ]
    },
    {
        "id": "9496bca0cdae91ae",
        "type": "change",
        "z": "6ae18db46eff17d3",
        "name": "Cambio a False",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 1000,
        "wires": [
            [
                "7128c12e8f1cebb3"
            ]
        ]
    },
    {
        "id": "7128c12e8f1cebb3",
        "type": "rbe",
        "z": "6ae18db46eff17d3",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 810,
        "y": 960,
        "wires": [
            [
                "2fdb06e079827c1e",
                "1d6d429cb0fceada"
            ]
        ]
    },
    {
        "id": "2fdb06e079827c1e",
        "type": "mqtt out",
        "z": "6ae18db46eff17d3",
        "name": "",
        "topic": "casa/actuadores/rele20",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 990,
        "y": 920,
        "wires": []
    },
    {
        "id": "1d6d429cb0fceada",
        "type": "debug",
        "z": "6ae18db46eff17d3",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e8046653872b226d",
        "type": "ui_switch",
        "z": "6ae18db46eff17d3",
        "name": "",
        "label": "rele20",
        "tooltip": "",
        "group": "654b2b9f30da2b80",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 1140,
        "wires": [
            [
                "03dc1a75936531c7"
            ]
        ]
    },
    {
        "id": "03dc1a75936531c7",
        "type": "mqtt out",
        "z": "6ae18db46eff17d3",
        "name": "",
        "topic": "casa/actuadores/rele1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43c6d6fc24ad7b6d",
        "x": 520,
        "y": 1140,
        "wires": []
    },
    {
        "id": "43c6d6fc24ad7b6d",
        "type": "mqtt-broker",
        "name": "mi_mosquitto_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b470bc0dac966f99",
        "type": "ui_group",
        "name": "TemperaturaHumidade",
        "tab": "0f492d9e4b06f320",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "654b2b9f30da2b80",
        "type": "ui_group",
        "name": "Actuadores dixitais",
        "tab": "5000729defeb6ba4",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f492d9e4b06f320",
        "type": "ui_tab",
        "name": "Practica4",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5000729defeb6ba4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]